@model RakietaLogikaBiznesowa.Models.User

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Contractor.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contractor.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Editor.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Editor.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MainAddressUser.Street)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MainAddressUser.Street)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Moneybox.Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Moneybox.Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecondAddressUser.Street)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecondAddressUser.Street)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserSets2.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserSets2.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Login)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PESEL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PESEL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlaceOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlaceOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JoinDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JoinDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastEditTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastEditTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkerId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContractId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContractId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
