@model RakietaLogikaBiznesowa.Models.Facture

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Facture</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FactureNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FactureNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberSeries)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberSeries)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InstallmentCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstallmentCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsPaid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsPaid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CrDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CrDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OpDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Club.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Club.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contractor.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contractor.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserCreate.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserCreate.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Editor.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Editor.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastEditTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastEditTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
