@model IEnumerable<RakietaLogikaBiznesowa.Models.Facture>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Club.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contractor.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Editor.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserCreate.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserSets2.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserUpdate.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OpDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FactureNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberSeries)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CrDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastEditTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InstallmentCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Value)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsPaid)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Club.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contractor.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Editor.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserCreate.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserSets2.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserUpdate.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OpDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FactureNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberSeries)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CrDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastEditTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InstallmentCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsPaid)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
