@model RakietaLogikaBiznesowa.Models.Helpdesk

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Helpdesk</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Recipient.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Recipient.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Worker.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Worker.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeOf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeOf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isAnswered)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isAnswered)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnswerDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnswerDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnswerText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnswerText)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
