@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h3>Link to models </h3>
</div>

<div class="row">
    <ul class="col-md-10">
        <li>@Html.ActionLink("User", "Index", "Users")</li>
        <li>@Html.ActionLink("Adres", "Index", "Addresses")</li>
        <li>@Html.ActionLink("Roles", "Index", "Roles")</li>
        <li>@Html.ActionLink("Permissions", "Index", "Permissions")</li>
        <li>@Html.ActionLink("Moneybox", "Index", "MoneyBoxes")</li>
        <li>@Html.ActionLink("Contractors", "Index", "Contractors")</li>
        <li>@Html.ActionLink("Contacts", "Index", "Contacts")</li>
        <li>@Html.ActionLink("Factures", "Index", "Factures")</li>
        <li>@Html.ActionLink("Bank Account", "Index", "BankAccounts")</li>
        <li>@Html.ActionLink("Loads", "Index", "Loads")</li>
        <li>@Html.ActionLink("Clubs", "Index", "Clubs")</li>
        <li>@Html.ActionLink("Tags", "Index", "Tags")</li>
        <li>@Html.ActionLink("Announcments", "Index", "Announcements")</li>
        <li>@Html.ActionLink("News!", "Index", "News")</li>
        <li>@Html.ActionLink("User Contract", "Index", "Contracts")</li>
    </ul>
</div>