@model RakietaLogikaBiznesowa.Models.UserAndRole

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UserAndRole</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Role.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>

        <dt>
            Create time
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastEditTime)
        </dd>

        <dt>
            Create by
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastEditor)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
