@model RakietaLogikaBiznesowa.Models.UsersAndAddress

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.Contractor.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Contractor.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Editor.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Editor.FirstName)
        </dd>

        <dt>
            @Html.Display("Kwota")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Moneybox.Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.UserSets2.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.UserSets2.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Login)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.PESEL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.PESEL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.DateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Sex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Sex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.PlaceOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.PlaceOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.IDNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.IDNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.JoinDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.JoinDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.LastEditTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.LastEditTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.WorkerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.WorkerId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.ContractId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.ContractId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address.Editor.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.Editor.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address.Street)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.Street)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address.HouseNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.HouseNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address.ApartmentNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.ApartmentNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address.PostalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.PostalCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address.Province)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.Province)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address.LastEditTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.LastEditTime)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
